<div class="profile">
<h1><b>Ravi Ranjan</b></h1>
<p>Bachelor of Engineering (CSE)</p>
<p><b>Web Developer Spring Boot | Angualar5+</b></p>

<hr>
<p><u>PROFESSIONAL SUMMARY</u></p>
<ul>
    <li>Expertise of 4.3 years in web development having good knowledge on Angular 5+.</li>
    <li>Experienced on Microservice Architecture using Spring Boot.</li>
    <li>Experienced on Graph designing framework D3.js.</li>
    <li>Gained strong understating of JavaScript, Typescript, JAVA, HTML5, CSS and Sass.</li>
    <li>Good understating of Data Structures and Algorithms.</li>
</ul>
<p><u>WORKING EXPERIENCE</u></p>
<app-my-carrer></app-my-carrer>
<p><u>Education</u></p>
<app-my-education></app-my-education>
<p><u>Technical Skills:</u></p>
<ul>
    <li>Programming Skills:</li>
    <li>UI Skills:</li>
    <li>Javascript Framework used:</li>
    <li>JAVA based Framework:</li>
    <li>DBMS:</li>
    <li>IDE:</li>
    <li>S.D.L.C:</li>
    <li>Operating System:</li>
    <li>Unit Testing:</li>
</ul>
</div>